html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

.icon:hover {
  cursor: pointer;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background-color: #fc1503 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.search {
  display: flex;
}

.video-card-title {
  width: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /*Show ellipsis for overflow*/
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.card-width {
  height: 20rem;
  width: 100%;
  max-width: 25rem;
}

@media screen and (max-width: 575px) {
  /* .search {
    flex-direction: row;
  } */

  .card-width {
    max-width: 100%;
    background-color: #fc1503;
  }
}
